%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookie
    1 cookie with #{@oven.cookie.fillings || "no fillings"}
    - if @oven.cookie.ready?
      (Your Cookie is Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
    - else
      %div{ :class => 'loading-cookie' } Preparing your cookie!!
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

:javascript
  $(document).ready(function() {
    let cookie = '#{@oven.cookie.nil?}';
    let ready = '#{@oven.cookie.nil? ? false : @oven.cookie.ready?}';

    if (cookie.toLowerCase() === 'false' && ready.toLowerCase() === 'false') {
      setTimeout(function () {
        window.location.reload(true);
      }, 5000);
    }
  });
