%h3= @oven.name
- if mobile_device == "mobile"
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
.cookie-info
  Cookie in oven:
  - if !@oven.cookies.empty?
    #{@oven.cookies.count} cookie with #{@oven.cookies.map(&:fillings).empty? ? "no filling" : @oven.cookies.first.fillings }
    - if @oven.cookies.map(&:ready?).count(true) === @oven.cookies.count
      #{@oven.cookies.count > 1 ? '(Your Cookies are Ready)' : '(Your Cookie is Ready)'}
      = button_to "#{@oven.cookies.count > 1 ? 'Retrieve Cookies' : 'Retrieve Cookie'}", empty_oven_path, class: 'button tiny'
    - else
      %div{ :class => 'loading-cookie' } #{@oven.cookies.count > 1 ? 'Preparing your cookies!!' : 'Preparing your cookie!!'}
  - else
    None

%br
- if mobile_device != "mobile"
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

:javascript
  $(document).ready(function() {
    let cookie = '#{@oven.cookies.empty?}';
    let ready = '#{@oven.cookies.empty? ? false : @oven.cookies.last.ready?}';

    if (cookie.toLowerCase() === 'false' && ready.toLowerCase() === 'false') {
      setTimeout(function () {
        window.location.reload(true);
      }, 5000);
    }
  });
