%h3 New Cookie for oven '#{@oven.name}'

= form_for [@oven, @cookie] do |f|
  .row
    .small-8.columns
      = f.label :fillings
  .row
    .small-8.columns
      = f.text_field :fillings
  .row
    .small-8.columns
      = f.label :amount
  .row
    .small-8.columns
      = f.number_field :amount, max: 20, min: 1, value: 1

  .row
    .small-8.columns
      = f.submit 'Mix and bake', class: 'button'



